*.o
*.elf
*.list
*.bin
.knit
compile_commands.json
bugs.txt
todo.txt
TODO.txt
.deps
*.boot
*.bin.out
*.payload
conf.knit
knit-*
.kobj
.bootobj
*.img
!/tools/vf2/jh7110-recovery.bin
/tools/plboot/plboot
